* {
  background-color: #79a2cb;
  ;
  font-family: Plus Jakarta Sans, sans-serif;
}

.homepage_ui {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.users_page {
  display: flex;
}